/* Generic selectors */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    max-width: 600px;
    margin: 20px 0;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

h2, p {
    margin-bottom: 15px;
}

button {
    padding: 10px 15px;
    margin: 5px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    font-size: 1em;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

input[type="text"] {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin: 5px 0;
}

/* Category section styling */
#category-section {
    position: relative; 
}

#category-section-title {
    cursor: pointer;
    transition: transform 0.3s ease, color 0.3s ease;
    margin-top: 0; 
}

#category-section-title:hover {
    transform: scale(1.05); 
    color: #007bff;
}

#category-back-button {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}

#category-back-button:hover {
    background-color: #0056b3;
}

#category-list-container {
    display: none;
    margin-top: 30px; 
}